{% extends 'library/base.html' %}
{% block title %}An email send{% endblock title %}
{% block content%}
    <div class="mt-1">
        <div>
            <h4 class="w3-serif font-weight-bold">Password reset finished.</h4>
        </div>
        <div class="w3-container">
            <div class="mb-3">
                <p class="w3-serif">Password reset has been successfully executed, you can now login with your new password.</p>
            </div>

            <div>
                <a href="{% url 'login' %}" class="w3-text-teal w3-hover-text-teal font-weight-bold">Sign In here</a>
            </div>
        </div>
        
    </div>
{% endblock content %}
