{% extends 'library/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Reset password{% endblock %}
{% block content %}
    <div>
        <div class="row">
            <div class="col-sm-2 col-lg-4"></div>
            <div class="col-sm-8 col-lg-4">
                <div style="margin-top: 110px">
                    <div class="w3-light-gray py-2 w3-round-xlarge">
                        <h4 class="font-weight-bold text-center w3-monospace">Password Reset Request</h4>
                    </div>
                    <div class="py-5 px-3 w3-round-xxlarge" style="border: 2px solid gainsboro;"> 
                        <form method="post">
                            {% csrf_token %}
                            <div>
                                <div>
                                    {{ form|crispy }}
                                </div>
                                
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-info w3-round-xlarge">
                                        Request Password Reset
                                    </button>
                               </div>
                            </div>
                        </form>
                    </div>
                </div>    
            </div>
            <div class="col-sm-2 col-lg-4"></div>
        </div>            
    </div>
{% endblock content %}
